<main>

  <% if page.content(:title1) %>
  <div class="collapsible dots dots-top-and-bottom padding-top-small"><h2><%= page.content(:title1).upcase %></h2></div>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-image">
          <%= image_tag main_app.url_for("https://res.cloudinary.com/mathildanancia/image/upload/v1572615235/Clients/Roel/loods-small_ydfygk.jpg")%>
        </div>
        <div class="col-text cesure">
          <article>
            <%= page.content(:section1).try(:html_safe) %>
            <div id="mc_embed_signup">
              <form action="https://gmail.us20.list-manage.com/subscribe/post?u=e7780eb6a3e052375568f42b0&amp;id=1e6ec1ec84" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll" class="subscribe">
                  <input type="email" value="" name="EMAIL" class="yourEmail" id="mce-EMAIL" placeholder="YOUR E-MAIL ADDRESS HERE" required>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e7780eb6a3e052375568f42b0_1e6ec1ec84" tabindex="-1" value=""></div>
                  <div>
                    <input type="submit" value="SUBMIT" name="subscribe" id="mc-embedded-subscribe" class="submit"></div>
                  </div>
              </form>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% if page.content(:title2) %>
  <div class="collapsible dots dots-bottom"><h2><%= page.content(:title2).upcase %></h2></div>
  <div class="content">
      <div class="container">
      <div class="row">
        <div class="col-image">
          <%= image_tag main_app.url_for("https://res.cloudinary.com/mathildanancia/image/upload/v1569852243/Clients/Roel/map_xvpnis.png")%>
        </div>
        <div class="col-text cesure">
          <article>
          <%= page.content(:section2).try(:html_safe) %>
        </article>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% if page.content(:title3) %>
  <div class="collapsible dots dots-bottom "><h2><%= page.content(:title3).upcase %></h2></div>
  <div class="content cesure">
    <article>
     <p><%= page.content(:section3).try(:html_safe) %></p>
    </article>
  </div>
  <% end %>
  <% if page.content(:title4) %>
  <div class="collapsible dots dots-bottom"><h2><%= page.content(:title4).upcase %></h2></div>
  <div class="content cesure">
    <article>
     <p><%= page.content(:section4).try(:html_safe) %></p>
    </article>
  </div>
  <% end %>

    <%= render "default/shared/footer" %>

</main>

<script>
  //collapsible functionalities
  var coll = document.getElementsByClassName("collapsible");
  var i;
  var cont = document.getElementsByClassName("content");
  var sumCont = "0px";

  coll[0].addEventListener("click", function() {
    $('.collapsible').removeClass('dots-top-and-bottom');
    $('.collapsible:first').addClass('dots-top-and-bottom');
    $(this, '.collapsible').nextAll(".collapsible:first").css({'padding-top' : '0.8em'});
  });

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.maxHeight){
        //remove contentheight from main before it closes
        sumCont = (parseInt(sumCont.slice(0,-2)) - parseInt(content.style.maxHeight.slice(0,-2))) + "px";
        if ($(window).width() < 480 || $(window).height() < 480) {
            $('main')[0].style.height = 'calc(' + sumCont +' + 59vh)';} else {
            $('main')[0].style.height = 'calc(' + sumCont +' + 59vh)';
            }
        content.style.maxHeight = null;
        //$(this, '.collapsible').removeClass('dots-bottom');

      } else {
        content.style.maxHeight = content.scrollHeight + "px";
        $(this, '.collapsible').nextAll(".collapsible:first").addClass('dots-top-and-bottom');
        $(this, '.collapsible').nextAll(".collapsible:first").css({'padding-top' : '0.4em'});

          //add contentheight from main after it opens
        sumCont = (parseInt(sumCont.slice(0,-2)) + parseInt(content.style.maxHeight.slice(0,-2))) + "px";
          if ($(window).width() < 480 || $(window).height() < 480) {
            $('main')[0].style.height = 'calc(' + sumCont +' + 59vh)';} else {
            $('main')[0].style.height = 'calc(' + sumCont +' + 59vh)';
          }
       }

      //add address and request button on Iphone scroll down

      var prevScrollpos = window.pageYOffset;
      var divLimit = $('.content');
      if ($('main')[0].scrollHeight > 394) {
        //find if scroll down to
      window.onscroll = function() {
      var currentScrollPos = window.pageYOffset;
        if($(document).height() == window.pageYOffset + window.innerHeight) {
        $('.request-iphone').css({'display' : 'block'});
        $('.footer-right-iphone').css({'display' : 'flex'});
      } else {
        $('.request-iphone').css({'display' : 'none'});
        $('.footer-right-iphone').css({'display' : 'none'});
        }
        prevScrollpos = currentScrollPos;
      }
    } else {
      $('.request-iphone').css({'display' : 'none'});
      $('.footer-right-iphone').css({'display' : 'none'});
    }

    });
  };

  $( ".footer-menu" ).click(function() {
    for (i = 0; i < cont.length; i++) {
    cont[i].style.maxHeight = null;
    $('.collapsible').removeClass('dots-top-and-bottom');
    $('.collapsible:first').addClass('dots-top-and-bottom');
    $('main')[0].style.height = '100%';
    sumCont = '0px';
    $('.collapsible').nextAll(".collapsible:first").css({'padding-top' : '0.8em'});

    }
  });

  $( ".line-iphone" ).click(function() {
      for (i = 0; i < cont.length; i++) {
        cont[i].style.maxHeight = null;
        $('.collapsible').removeClass('dots-top-and-bottom');
        $('.collapsible:first').addClass('dots-top-and-bottom');
        $('.footer-iphone').addClass('dots-top');
        $('.request-iphone').css({'display' : 'block'});
        $('.footer-right-iphone').css({'display' : 'flex'});
        $('main')[0].style.height = '100%';
        sumCont = '0px';
      }
  });

  (function($) {window.fnames = new Array();window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);


</script>
